*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.container{
    display: flex;
    margin: 0 50px;
}

header{
    max-width: 460px;
    max-height: 53px;
    background-color: rgb(178, 236, 236);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#main__logo{
    width: 40px;
    height: 40px;
}
.main__heading{
    color: orangered;
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(75, 68, 68);
}
ul li a:hover{
    color: orangered;
}
ul li{
    display: inline;   
}
ul{
    margin: 10px 10px auto 30px;
}

.main{
    max-width: 460px;
    margin: 0 auto;
    padding: 0 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form__input{
    width: 100%;
}

.form__lable{
    display: block;
    margin-bottom: 10px;
}
.form__textarea{
    width: inherit ;
    font-size: 18px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f3f6f6;
}
.form__submit{
    background-color: rgb(178, 236, 236);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.form__submit:hover{
    background-color: aquamarine;
}
.entry{
    margin-top: 30px; 
}

.entry__title{
    display: inline;
    font-size: 18px;
}
.entry__date{
    color: #5c6b70;
    font-size: inherit;
}
.entry__content{
    font-size: 16px;
    line-height: 150%; 
}
footer a{
    color: white;
    font-size: 12px;
}

.footer{
    background-color: #323f43;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 4px solid black;
    color: white;
}
.footer__content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.footer .left{
    flex-grow: 2;
}

.footer .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
footer__column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}